<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <remove name="inicio" />
                <remove name="Los Condores" />
                <remove name="BBVSoftware" />
                <remove name="prueba" />
                <rule name="Los Condores" enabled="true">
                    <match url="DataMobile/welcome/([0-9]+)" />
                    <conditions />
                    <serverVariables />
                    <action type="Rewrite" url="/DataMobile/index.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
